* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #C85119;
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
    padding: 10px;
}

.logo img {
    width: 120px;
}

.logo {
    width: 80%;
}

.menu ul {
    margin: 2px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 500px;
    text-align: center;
}

.menu li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.menu a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu a:hover:after {
    width: 100%;
    left: 0;
}

.menu-items {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #80805a;
    display: block;
    opacity: 0;
    transition: 1s;
}

.menu-items.show {
    opacity: 1;
}

.menu-items.hidde {
    opacity: 0;
}

.menu-items a {
    display: block;
    text-decoration: none;
    color: #444444;
}

section.conheça-saber {
    background-color: #eedebe6e;
    padding: 100px 0;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

iframe {
    width: 50%;
    max-width: 100%;
}

.conheça-saber-content {
    width: 50%;
    padding: 0 50px;
}

.conheça-saber-content h2 {
    color: #C85119;
    margin-bottom: 20px;
}

.conheça-saber-content p {
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}

.conheça-saber-content a {
    text-decoration: none;
    color: #C85119;
    font-size: 16px;
}

.conheça-saber-content a:hover {
    color: #444;
}

.sobre {
    text-align: center;
    padding: 20px;
}

.chamada-sobre h2 {
    font-size: 24px;
    color: #C85119;
    margin-bottom: 20px;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.servico {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #80805a;
    border-radius: 5px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.servico:hover {
    transform: translateY(-5px);
}

.servico h3 {
    font-size: 18px;
    color: #80805a;
    margin-bottom: 10px;
}

.servico p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}

.nutri {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #80805a;
    border-radius: 5px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.nutri:hover {
    transform: translateY(-5px);
}

.nutri h3 {
    font-size: 18px;
    color: #80805a;
    margin-bottom: 10px;
    text-align: center;
}

.nutri p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
}

section.profissionais {
    padding: 40px 0;
}

section.profissionais .profissionais-chamada {
    text-align: center;
}

.profissionais-chamada h2 {
    color: #C85119;
    text-transform: uppercase;
}

.profissionais-chamada p {
    color: black;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
}

.profi {
    display: flex;
    justify-content: center;
}

.profi-single {
    width: 31%;
    margin-right: 2%;
    text-align: center;
}

.profi-single img {
    width: 70px;
    height: 70px;
    display: inline;
    margin: 10px 0;
    border-radius: 50%;
}

.profi-single img:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s;
}

.profi-single-box {
    padding: 20px;
    background-color: #f3f9fd;
    border-radius: 10px;
}

.profi-single-box p {
    font-style: italic;
    color: #4b4b4b;
    font: 16px;
}

.profi-single span {
    color: #ccc;
}

footer {
    background-color: #C85119;
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-sociais {
    margin-top: 30px;
}

.footer-col .medias-sociais a {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-sociais a:hover {
    color: #C85119;
    background-color: white;
}

.footer-col .form-sub a {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    border: 1px solid white;
    color: #C85119;
    background-color: white;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-col .form-sub a::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #C85119;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}

.logofinal {
    width: 150px;
    position: relative;
    left: 20px;
}

.footer {
    background-color: #232323e3;
    color: #ccc;
    padding: 15px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    #footer_social_media {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        width: 100%;
    }
    #footer_social_media {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .diferencial-single {
        width: 100%;
        margin-bottom: 20px;
    }
    .menu {
        display: none;
    }
    .logo img {
        width: 190px;
    }
    .menu-bar {
        padding: 1.5rem 4rem;
    }
    .menu ul {
        display: none;
    }
    .login-button {
        display: none;
        align-items: center;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        margin: 2px auto 0;
        padding: 0;
        list-style: none;
        display: table;
        width: 500px;
        text-align: center;
    }
    .mobile-menu a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }
    .mobile-menu a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: " ";
        display: block;
        height: 2px;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .mobile-menu a:hover:after {
        width: 100%;
        left: 0;
    }
    .mobile-menu .menu-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .conteudo-sobre p {
        width: 100%;
        margin: 20px 20px;
    }
    .conquista-single {
        width: 46%;
        margin-right: 4%;
        padding: 15px 5px;
    }
    .contatos-single {
        width: 47%;
        margin-right: 3%;
        padding: 15px 5px;
    }
    iframe {
        width: 100%;
    }
    .conheça-saber-video video {
        max-width: 50%;
    }
    .conheça-saber-content {
        width: 100%;
        padding: 0 50px;
    }
    .profi-single {
        width: 60%;
    }
    .logof img {
        width: 0px;
    }
}